@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&family=Lato:wght@400;700&family=Roboto:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
    scroll-behavior: smooth;
  }
  
 
nav {
    height: 80px;
    display: flex;
  }
  

a {
    text-decoration: none;
  }
  
i {
    opacity: 0.9;
    cursor: pointer;
}


ul {
    display: flex;
  }

li {
  list-style-type: none;
}

h1 {
    font-size: 56px;
    color: gray;
    margin-bottom: 24px;
    text-align: center;
  }

button {
    cursor: pointer;
  }
  
button:active {
    transform: translateY(1px);
  }
  
.btn {
    background-color: #D1001C;;
    color: white;
    padding: 12px 24px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
  }

.click {
  cursor: pointer;
  transition: all 300ms ease;
}

.click:hover {
  transform: scale(1.1);
}

.click:active {
  transform: scale(0.8);
}

.link__hover-effect {
  position: relative;
}

.link__hover-effect:after {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 3px;
  width: 0;
  right: 0;
  transition: all 300ms ease;
 
}

.link__hover-effect--white:after {
  background-color: white;
  transition: all 300ms ease;
}


.row {
  width: 100%;
  max-width: 100%;
 
}


.red{
   color: #D1001C;
}

.btn__menu {
    background-color: transparent;
    font-size: 40px;
    border: none;
    color: #D1001C;
    display: none;
    margin-bottom: 24px;
    
  }
  
.menu__backdrop {
    position: absolute;
    background-color: #242424;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    display: none;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    transition: all 300ms ease;
    opacity: 0;
    transform: translate(100%);
  }
.menu--open {
    max-height: 100vh;
    overflow: hidden;
  }
  
.menu--open .menu__backdrop {
    visibility: visible !important;
    opacity: 1;
    transform: translate(0);
  }


.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.menu__list {
    padding: 32px 0;
  }
  
.menu__link {
    color: white;
    font-size: 40px;
  }

.btn__menu--close {
    position: absolute;
    top: 10px;
    right: 20px;
    padding: 8px;
    color: white;
  }

/*
  
  NAVIGATION

  */

.nav__container {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row {
  width: 100%;
  max-width: 100%;
 
}

.nav__img {
  position: absolute;
  width: 100%;
  max-width: 100%;
  height: 300px;
  opacity: 0.9;
}

.logo__wrapper {
  display: flex;
  align-items: center;
  
}

.logo {
  height: 52px;
  width: 100px;
  z-index: 100;
  box-shadow: 0 12px 30px 0 rbg(0, 0, 0, 0.28);
  margin-left: 135px;
  
  transition: all 300ms ease;
}

.logo:hover{
    transform: scale(1.1);
}



.nav__link--list {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-right: 150px;
  
}

.nav__link {
  margin: 0 12px;
  font-weight: 600;
}

.nav__link:active{
    transform: scale(0.8);
}


.nav__link--anchor {
  text-decoration: none;
  font-size: 16px;
  color: white;
  font-weight: 700;
  background-color: rgb(0, 0, 0);
  border-radius: 50px;
  padding: 8px 20px;
  transition: all 300ms ease;
}

.nav__link--anchor:hover{
    background-color: rgb(109, 109, 109);
    color: white;
    
}


.btn-contact {
  background-color: #D1001C;
  color: white;
  padding: 8px 20px;
  border: 2px #FC0E34;
  border-radius: 50px;
  text-decoration: none;
  transition: all 300ms ease;
}

.btn-contact:hover {
  background-color: #FC0E34;
  color: white !important;
}

/*
  
  SEARCH

  */

.search__container{
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav__description--title {
    font-size: 36px;
    margin-bottom: 10px;
    color: black ;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

input[type="text"] {
    position: relative;
    width: 100%;
    max-width: 250px;
    padding: 18px 16px 18px 32px;
    border-radius: 9999px;
    border: 2px solid #a0aec068;
}

input::placeholder {
    color: #87919e68;
    margin-right: -100px;
    z-index: 100;
  }

input:hover {
  border-color: #a0aec0;
}

.btn:hover {
    background-color:#FC0E34;
    cursor: pointer;
}

.header__btn--wrapper {
    position: relative;
    display: flex;
    align-items: end;
    margin-left: 110px;
   
}

.header__btn {
    margin-right: 8px ;
    position: absolute;
}

.btn {
    background-color:#D1001C;
    color: white;
    border-radius: 9999px;
    border: none;
    padding: 14px 24px;
    font-size: 16px;
    font-weight: 700;
    margin-right: 8px;
   margin-bottom: 3px;
 }

/*

 MAIN
 
  */
 
  #movies__main {
    background-color: #242424;
  }

  .main__container{
    width: 100%;
    padding: 20px;
  }
  
  .movie__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
  }

  .movie__header--title {
    color: white;
    margin-bottom: 0;
  }

 select {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid white;
    height: 40px;
    line-height: 40px;
    outline: none;
    padding: 0 16px;
    width: 100%;
    max-width: 200px;
  }

  
  

  .movies__loading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    font-size: 60px;
    color: #D1001C;
  }
  
  .movies__loading--spinner{
  display: none !important;
  }
  
  .movies__loading .movies__loading--spinner {
    display: block !important;
  }
  
  .fa-spinner {
    color: white;
    animation: rotate 600ms infinite linear;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }

/* 

FEATURES

*/

#features {
    background-color: #313131;
    padding-top: 8vw;
  }

.featured__title{
    color: white;
  }


  .feature__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1400px;
    padding-left: 45px;
}
  

.movies {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    height: min-content;
    padding-bottom: 36px;
    padding-left: 36px;
    transition: all 300ms ease-in-out;
}

.movies{
    display: flex;
    flex-direction: column;
    transition: all 300ms ease-in-out;
}
 
.movies__img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

  
.movies__img--wrapper {
    margin-bottom: 8px;
    overflow: hidden;
    display: flex;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
}

.movies__img--wrapper:hover .movies__img {
    transform: scale(1.03); 
    cursor: not-allowed;
  }


  
.movie__title {
   padding-left: 20px;
    color: white;
    font-size: 20px;
    margin-bottom: 8px;
  }
  
.movie__title:hover {
    text-decoration: underline;
    cursor: not-allowed;
  }

.movie__year{
    display: flex;
    padding-left: 10px;
    color: white;
    font-size: 20px;
    margin-bottom: 8px;
  }
  
.movie__year:hover{
    text-decoration: underline;
    cursor: not-allowed;
  }


 

 /*

 FOOTER

 */

.divider {
    height: 1px;
    border-radius: 9999px;
    width: 100% ;
    margin-top: 2px;
    margin-bottom: 2px;
}

 .container{
    padding: 28px 0;
 }

 .row {
    width: 100%;
    max-width: 100%;
  }
  
  .row__column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
 footer {
    background-color: #242424;
  }
  
  .footer__logo {
    display: flex;
    flex-direction: column;
  }
  
  .footer__logo--img {
    width: 160px;
    filter: grayscale(1) invert(1);
  }
  
  .footer__link,
  .footer__copyright {
    color: #fff;
  }
  
  .footer__list {
    margin: 20px 0 24px 0;
  }
  
  .footer__link {
    padding: 0 8px;
  }
  
  /* SMALL PHONES, TABLETS, LARGE SMARTPHONES */


@media (max-width: 1024px) {
    .btn__menu {
      display: none;
    }
     .nav__link {
      display: flex;
    }
    .nav__img {
        height: 100px;
      }

      .menu__backdrop{
        display: none;
    }
    .feature__container {
        padding-left: 30px;
    }
    .nav__container{
        height: 100px;
      }

    .movies{
        width: 50%;
      }


    .logo {
        margin-left: 20px;
        height: 60px;
        width: auto;
      }
 }

  /* SMALL PHONES, TABLETS, LARGE SMARTPHONES */
 @media (max-width: 768px) {
    .movie__header {
      padding: 0 24px;
    }

    .nav__img {
        height: 80px;
      }

    .nav__container{
        height: 80px;
      } 

    .nav__link--list{
        display: none;
    }

     h1 {
      font-size: 40px;
    }

     .main_container {
        display: flex;
      }

      .menu__backdrop{
        display: flex;
    }
    
    .section__title {
        display: flex;
      }
 
 
    .movies {
        width: 100%;
      }
 
 
    button {
      font-size: 18px;
    }

    .btn__menu {
        display: block;
      }
  }
  
  /* SMALL PHONES, LARGE SMARTPHONES */
  @media (max-width: 550px) {
 
 
   .btn__menu {
        margin-left: 5px;
        height: 40px;
        width: auto;
        display: block;
      }
 
 
      .nav__img {
        height: 60px;
      }
    
      .nav__container{
        height: 60px;
      } 

      .menu__backdrop{
        display: flex;
    }

      .logo {
        margin-left: 5px;
        height: 40px;
        width: auto;
      }
    
      .nav__link--list {
        display: none;
      }
    
      .movies {
        width: 100%;
      }

    }
 
 