#landing {
    position: relative;
  }

#movies { background-color: #242424;
}

.nav {
    background-color: #242424;
    height: 8vh;
}

.cinema__image {
    max-width: 100%;
    width: 100%; /* Ensure the image fits within its container */
    height: auto; /* Maintain aspect ratio */
    display: block;
     /* Ensure the image does not affect the layout of other elements */
}

.landing-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff; /* Set color for text */
    z-index: 1; /* Ensure content appears above the image */
  }

.landing__title{
    color:black;
    margin-bottom: 20px;
  }

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .input-container {
    display: flex;
    flex: 1;
    color: #87919e68;
  }

  
  .input-container input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    
  }
  
  .input-container button {
    padding: 10px;
    background-color:#D1001C;
    border: none;
    border-radius: 0 5px 5px 0;
    color: #fff;
    cursor: pointer;
  }

  /*MOVIES */

  .movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 18px;
}

.movie-link {
display: flex;
width: 33%;
height: 100%;
}

.movie-card {
    width: calc(25% - 20px); /* Set width for each movie card (4 cards per row) */
    margin: 0 10px 20px;  /* Add margin between movie cards */
  box-sizing: border-box; /* Ensure padding and border are included in the width */
}

.movie-card {
    width: 100%;
    height: 100%;
    border-radius: 10px; /* Add border radius to movie images */
  }

.movie__img--wrapper {
    width: 150px;
    height: 300px; /* Adjust the height as needed */
    overflow: hidden;
    border-radius: 5px; /* Add border radius to movie image wrapper */
  }

.movie__img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.movie-info {
    padding: 10px;
    text-align: center;
  }
  
  .movie__title {
    color: white;
  }
  
  .movie__year {
    color: #fff;
    padding-left: 20px;
  }

  /*MovieInfo*/

  #movies__main{
    height: 90vh;
  }
  
  .movie__selected--top {
    padding: 16px;
  }
  .movie__selected--title {
    color: #fff;
    padding: 8px;
    padding-left: 24px;
  }

  .movie__selected--year {
    color: #fff;
    padding: 8px;
    padding-left: 24px;
  }

  .movie__selected{
    display: flex;
    padding: 28px;
  }

  .movie__selected--plot {
    color: #fff;
    padding: 18px;
  }

  .movie__selected--ratings {
    color: #fff;
    padding: 18px;
  }

  .movie__link {
   color: #242424;
   padding: 12px;
  }

  button{
    float: right;
    padding: 8px 10px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    background-color: lightgray;
    
  }
