
#movies { background-color: #242424;
}

.cinema__image {
    position:absolute;
    z-index: -1;
    width: 100%;
}

.landing__title{
padding-top: 58px;
color:black;
}

.search-form {
    position: relative;
  }
  
  .search-form input {
    padding-right: 40px; /* Adjust as needed */
  }
  
    .search-icon {
        position: absolute;
        top: 50%;
        right: 10px; /* Adjust as needed to position the icon horizontally */
        transform: translateY(-50%);
        cursor: pointer;
  }
